/*      MADE BY:
        Theodora Tataru
        Lily O'Sullivan
        tataru.theodora@yahoo.com */

*  {
  font-family: 'Nunito Sans', sans-serif; 
  /* 	Custom Font, See below
      https://fonts.google.com/specimen/Nunito+Sans?selection.family=Nunito+Sans
  */ 
}

header {
  overflow: hidden;
  padding-left:150px;
  padding-right:150px;
  padding-top:7px;
  padding-bottom:7px;
  background-color: rgba(0, 0, 0, 1);
  position:fixed;
  z-index: 99;
  top:0;
  width:100%;"
  /*padding: 20px 10px;*/

}

#logo {
  letter-spacing: 7px;
  font-family: 'Parisienne', cursive;
  font-size: 3em;
  display: inline-block;
  width: 49%;
  padding:0px;
  color:rgb(210, 210, 210);
  text-align:center;
}

#cristina {
  width: 45%; 
  height: auto;
  margin:0 auto;
  display:block;
}

header a{
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}

#header-menu { /* Controls Menu (Black Bar on top) Links*/
  display: inline-block;
  position: relative;
  width: 49%;
  font-size:1.6em;
  vertical-align: super;
  text-align: center;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  /*background-color: rgba(205, 44, 151,0.5);*/
  background: linear-gradient(to right,  rgba(142,0,142,0.3) 0%,rgba(204,0,78,0.4) 50%,rgba(142,0,142,0.30) 100%); /* Creates Small Gradient Effect */
  box-shadow: 0px -2px -2px rgba(34,34,34,0.6);
  border-radius: 50px;
  color: #fff;
  padding: 8px; /* Sets Border Size, 18 might be too big */
  font-size: 25px;
  letter-spacing: 7px;
}

.titleheader {
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
}

.titleheader span.spantitle {
  /*background-color: rgba(205, 44, 151,0.5);*/
  background: linear-gradient(to right,  rgba(142,0,142,0.3) 0%,rgba(204,0,78,0.4) 50%,rgba(142,0,142,0.30) 100%); /* Creates Small Gradient Effect */
  box-shadow: 0px -2px -2px rgba(34,34,34,0.6);
  border-radius: 50px;
  color: #fff;
  padding: 8px; /* Sets Border Size, 18 might be too big */
  font-size: 25px;
  letter-spacing: 7px;
}

.background{
  background-image: url("dark_wood.png");
}

body {
  height: 100%;
  margin: 0;
}

.logo {
  border-radius: 999px;
  margin: auto;
}
  
.contact {
  color: black; 
  text-decoration:none;
  padding:7px;
}

.icons {
  color: black; 
  text-decoration:none;
  padding:1px;
}
  
.bigBox {
  background-color: #333333; /*black*/
  text-align: center;
  color: white;
  opacity: 0.85;
  padding: 1px;
}
  
.box {
  background-color:#d9d9d9; /*grey*/
  width:auto;
  height:auto;
  padding: 5px;
  position: relative;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: black;
  opacity: 0.9;
}

  
.whoAmI {
  margin: 765px 300px auto 300px;
  height:auto;
  padding: 10px;
  text-align: left;
  text-indent: 50px;
  color: #DCDCDC;
  text-shadow: 1px 1px 50px black;
}

/* Style the video: 100% width and height to cover the entire window DESKTOP */
.fullscreen-bg {
  position: fixed;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
  width: 300%;
  left: -100%;
  }
}
/* Mobile Version */
@media only screen and (max-width: 360px) {
  /* NO VIDEO AS BACKGROUND */
  body {
    background: url('dark_wood.png') center center / cover no-repeat;
  }
  .fullscreen-bg__video {
    display: none;
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: None;
  }
  /*end background*/
    .caption {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border {
    /*background-color: rgba(205, 44, 151,0.5);*/
    background: linear-gradient(to right,  rgba(142,0,142,0.3) 0%,rgba(204,0,78,0.4) 50%,rgba(142,0,142,0.30) 100%); /* Creates Small Gradient Effect */
    box-shadow: 0px -2px -2px rgba(34,34,34,0.6);
    border-radius: 50px;
    color: #fff;
    padding: 8px; /* Sets Border Size, 18 might be too big */
    font-size: 8px;
    letter-spacing: 1px;
  }
/* quote */
div#reviews {
  width: 500px;
  box-shadow: 0 0 10px 7px #FF1493;
  margin: auto;
}

div#reviewsVideo {
  width: 560px;
  box-shadow: 0 0 10px 7px #FF1493;
  margin: auto;
}

iframe {
  padding: 1px;
}
/* quote */
/* menu */
header {
  overflow: hidden;
  padding-left:1px;
  padding-right:1px;
  padding-top:1px;
  padding-bottom:1px;
  background-color: rgba(0, 0, 0, 1);
  position:fixed;
  z-index: 99;
  top:0;
  width:100%;"
  /*padding: 20px 10px;*/
}

#logo {
  letter-spacing:0px;
  font-family: 'Parisienne', cursive;
  font-size: 0px;
  display: inline-block;
  width: 10%;
  padding:1px;
  color:rgb(210, 210, 210);
  text-align:center;
}

header a{
  color: white;
  padding-left: 1px;
  padding-right: 1px;
  text-decoration: none;
}

#header-menu { /* Controls Menu (Black Bar on top) Links*/
  display: inline-block;
  position: relative;
  width: 49%;
  font-size:10px;
  vertical-align: super;
  text-align: center;
}

#cristina {
  width: 50%; 
  height: auto;
  margin: 70px auto auto auto;
  display:block;
}

.whoAmI {
  margin: 30px;
  height:auto;
  padding: 1px;
  text-align: left;
  text-indent: 2px;
  color: #DCDCDC;
  text-shadow: 1px 1px 10px black;
  position: relative;
  font-size: 10px;
}

.bigBox {
  background-color: #333333; /*black*/
  text-align: center;
  color: white;
  opacity: 0.85;
  padding: 1px;
}
.box {
  background-color:#d9d9d9; /*grey*/
  width:auto;
  height:auto;
  padding: 1px;
  position: relative;
  bottom: 1%;
  left: %;
  transform: translateX(-50%);
  text-align: center;
  color: black;
  opacity: 0.9;
  font-size: 10px;
}
}
/* end mobile version*/
